# Build artifacts
*.aab
*.apk
*.ipa
apps/mobile/android/app/build/
apps/mobile/ios/build/
build/
dist/

# Expo
.expo/
.expo-shared/

# Node
node_modules/
npm-debug.log*
package-lock.json

# Env
.env
.env.*
!.env.example

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
